:root {
--color-bgc-primary: #EFEFEF;
--color-text: #333333;
--color-link: #000000;
--color-white: #FFFFFF;
--color-accent: #F13C6E;

--gap: 20px;
--gap-sm: calc(var(--gap) * 0.5);
--gap-m: calc(var(--gap) * 1.5);
--gap-large:  calc(var(--gap) * 2);
--container-width: 1110px;
--container-width-sm: 540px;

--font-family: 'Roboto', sans-serif;
--font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}
body {
  font-size: 0.875rem;
  background-color: var(--color-bgc-primary);
  color: var(--color-text);
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: min(100% - var(--gap) * 2, var(--container-width));
  margin-inline: auto;
}
.container-small {
  width: min(100% - var(--gap) * 2, var(--container-width-sm));
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 1em;
  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
  min-width: 170px;
  height: 40px;
}
.btn--primary {
  background-color: var(--color-accent);
  border-color: var(--color-white);
}
.btn--secondary {
  color: var(--color-link);
  background-color: var(--color-white);
  border-color: var(--color-accent);
}
.btn--sm {
  border: var(--color-accent);
  color: var(--color-white);
  min-width: 130px;
  height: 35px;
  background: var(--color-accent);
  border-radius: 30px;
}
.navbar-secondary__lists {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: var(--gap-sm);
  padding: 10px 0;
}
.navbar-secondary__link {
  display: block;
  padding: 7px 10px;
}

.navbar-info {
  background-color: var(--color-white);
  margin-bottom: 1px;
  padding: var(--gap);
}
.navbar-info__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo__link {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
.logo__title {
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.1em;
color: var(--color-accent);
}

.feedback {
  display: flex;
  align-items: center;
  gap: var(--gap-large);
}
.feedback__phone {
  font-size: var(--font-size);
  line-height: 19px;
}

.navbar-primary {
  background-color: var(--color-white);
}
.navbar-primary__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: var(--gap);
  padding: 30px 0;
}
.navbar-primary__link {
  display: block;
  padding: 7px 10px;
  font-size: 1rem;
  color: var(--color-link);
}

.hero {
background-color: var(--color-accent);
background-image: url(../img/photo_2022-11-04_10-39-45.jpg);
background-position: 91% 50%;
background-size: contain;
background-repeat: no-repeat;
padding: 192px 0;
color: var(--color-white);
margin-bottom: 80px;
}
.hero__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin: 0;
}
.hero__text {
  line-height: 20px;
}
.hero__container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 2.5);
  max-width: 375px;
}
.hero__actions {
  display: flex;
}

.offers {
  margin-bottom: 100px;
}
.offers__title {
font-size: 24px;
line-height: 28px;
color: var(--color-link);
margin: 0;
margin-bottom: 38px;
}
.offers__content {
  display: flex;
  gap: var(--gap-m);
 }
.offers-items {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--color-white);
  padding: 25px 25px;
  gap: var(--gap);
  align-items: center;
}
.offers-items__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding-left: 20px;
}
.offers-items__picture {
  order: -1;
}
.offers-items__action {
  display: flex;
}

.luring {
  color: var(--color-white);
  margin-bottom: 100px;
}
.luring__contant {
  display: flex;
  align-items: center;
  flex: 1;
  gap: var(--gap-m);
}
.luring-items {
  display: flex;
  align-items: center;
  background-color: var(--color-accent);
  gap: 70px;
  padding: var(--gap-m) var(--gap-large);
}
.luring-items__contant {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  flex: 1;
}
.luring-items__title {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}
.luring-items__text {
  line-height: 20px;
}
.luring-items__input {
  background-color: var(--color-white);
  padding: 0 25px;
  background-color: var(--color-accent);
}
.luring-items__button {
  height: 35px;
  max-width: 170px;
}
