:root {
  --color-accent: #f13c6e;
  --color-bgc-primary: #efefef;
  --color-link: #000000;
  --color-text: #333333;
  --color-white: #ffffff;
  --container-width: 1110px;
  --container-width-sm: 540px;
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  --gap: 20px;
  --gap-large: calc(var(--gap) * 2);
  --gap-m: calc(var(--gap) * 1.5);
  --gap-sm: calc(var(--gap) * 0.5);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  color: var(--color-text);
  background-color: var(--color-bgc-primary);

  font-size: 0.875rem;
}

a {
  text-decoration: none;

  color: inherit;
}

.container {
  width: min(100% - var(--gap) * 2, var(--container-width));

  margin-inline: auto;
}

.container-small {
  width: min(100% - var(--gap) * 2, var(--container-width-sm));
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  min-width: 170px;
  height: 40px;
  padding: 0.25em 1em;

  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
}

.btn--primary {
  border-color: var(--color-white);
  background-color: var(--color-accent);
}

.btn--secondary {
  color: var(--color-link);
  border-color: var(--color-accent);
  background-color: var(--color-white);
}

.btn--sm {
  min-width: 130px;
  height: 35px;

  color: var(--color-white);
  border: var(--color-accent);
  border-radius: 30px;
  background: var(--color-accent);
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.navbar-secondary__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  padding: 10px 0;

  list-style: none;

  gap: var(--gap-sm);
}

.navbar-secondary__link {
  display: block;

  padding: 7px 10px;
}

.navbar-info {
  margin-bottom: 1px;
  padding: var(--gap);

  background-color: var(--color-white);
}

.navbar-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  gap: var(--gap);
}

.logo__title {
  letter-spacing: 0.1em;

  color: var(--color-accent);

  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  gap: var(--gap-large);
}

.feedback__phone {
  font-size: var(--font-size);
  line-height: 19px;
}

.navbar-primary {
  background-color: var(--color-white);
}

.navbar-primary__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  padding: 23px 0;

  list-style: none;

  gap: var(--gap);
}

.navbar-primary__link {
  display: block;

  padding: 7px 10px;

  color: var(--color-link);

  font-size: 1rem;
}

.hero {
  margin-bottom: 84px;
  padding: 192px 0;

  color: var(--color-white);
  background-color: var(--color-accent);
  background-image: url(../img/photo_2022-11-04_10-39-45.jpg);
  background-repeat: no-repeat;
  background-position: 91% 50%;
  background-size: contain;
}

.hero__title {
  margin: 0;

  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.hero__text {
  line-height: 20px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 375px;

  gap: var(--gap-large);
}

.hero__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers {
  margin-bottom: 100px;
}

.offers__title {
  margin: 0;
  margin-bottom: 38px;

  color: var(--color-link);

  font-size: 24px;
  line-height: 28px;
}

.offers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: var(--gap-m);
}

.offers-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  padding: 25px 25px;

  background-color: var(--color-white);

  gap: 15px;
}

.offers-items__title {
  margin: 0;
  padding-left: 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.offers-items__picture {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.offers-items__price {
  text-align: center;
  letter-spacing: 0.05em;

  font-size: 21px;
  line-height: 25px;
}

.offers-items__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.luring {
  margin-bottom: 100px;

  color: var(--color-white);
}

.luring__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: var(--gap-m);
}

.envelop {
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;

  padding: 35px var(--gap-large);

  background-color: var(--color-accent);
  background-image: url(../img/Group\ \(1\).svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 45px) 50%;
}

.envelop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 250px;

  gap: var(--gap);
}

.envelop__title {
  font-size: 18px;
  line-height: 21px;
}

.envelop__discription {
  font-size: 14px;
  line-height: 20px;
}

.envelop__form {
  max-width: 225px;
}

.envelop__input {
  display: block;

  width: 100%;
  height: 35px;
  padding: 0.25em 1em;

  border: none;
  border-radius: 30px;
}

.envelop__input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.envelop__input::-moz-placeholder {
  color: #c4c4c4;
}

.envelop__input:-ms-input-placeholder {
  color: #c4c4c4;
}

.envelop__input::-ms-input-placeholder {
  color: #c4c4c4;
}

.envelop__input::placeholder {
  color: #c4c4c4;
}

.car {
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;

  padding: 35px var(--gap-large);

  background-color: var(--color-accent);
  background-image: url(../img/Group\ \(2\).svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 45px) 50%;
}

.car__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 250px;

  gap: var(--gap);
}

.car__title {
  font-size: 18px;
  line-height: 21px;
}

.car__discription {
  font-size: 14px;
  line-height: 20px;
}

.car__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advertising {
  margin-bottom: 80px;
}

.advertising__content {
  display: grid;

  text-align: center;

  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.advertising-item {
  padding: 33px;

  background-color: var(--color-white);
}

.re-offers {
  margin-bottom: 80px;
}

.re-offers__title {
  margin: 0;
  margin-bottom: 38px;

  color: var(--color-link);

  font-size: 24px;
  line-height: 28px;
}

.re-offers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: var(--gap-m);
}

.re-offers-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  padding: 25px 25px;

  background-color: var(--color-white);

  gap: 14px;
}

.re-offers-items__title {
  margin: 0;
  padding-left: 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.re-offers-items__price {
  text-align: center;
  letter-spacing: 0.05em;

  font-size: 21px;
  line-height: 25px;
}

.re-offers-items__picture {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.re-offers-items__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories {
  margin-bottom: 1px;

  background-color: var(--color-white);
}

.categories__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding: 32px 0 47px;
}

.categories-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 100px;

  gap: var(--gap);
}

.categories-block__title {
  padding: 30px;

  border-bottom: 1px solid var(--color-bgc-primary);

  font-size: 16px;
  font-weight: 500;
  line-height: 133.62%;
}

.categories-block__list {
  list-style: none;
}

.categories-block__link {
  color: #828282;

  font-size: 12px;
  line-height: 28px;
}

.social-item {
  padding: 40px 0 33px;

  background-color: var(--color-white);
}

.social-item__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: var(--gap);
}

.copyrate {
  color: #828282;
}

.copyrate__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding: 25px 0;
}

.copyrate__discription {
  font-size: 12px;
  line-height: 14px;
}

.copyrate__confidential {
  font-size: 12px;
  line-height: 14px;
}
